@page "/contact"

    <Container>
        <h2 class="mb-5 blue-text">Kontakta oss</h2>

        <div class="bill d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <div class="me-5">
                    <h4>Växel</h4>
                    <p class="blue-text">xx-xxx xxx xx</p>
                    <h4>Kundservice</h4>
                    <p class="blue-text">xx-xxx xxx xx</p>
                    <h4>Felanmälan</h4>
                    <p class="blue-text">xx-xxx xxx xx</p>
                    <h4>Fastighet- och störningsjour</h4>
                    <p class="blue-text">xx-xxx xxx xx</p>
                    <h4>E-mail</h4>
                    <p class="blue-text">info@spg.com</p>
                </div>
            </div>
        </div>
    </Container>
    @code {

    }