@page "/login"
@layout EmptyLayout

<Container>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is12.OnDesktop.Is12.OnTablet">
        <div class="login">
            <h2 class="blue-text mb-3">Logga in</h2>

            <p class="mb-3">
                Loggar du in på Mina sidor får du tillgång till information och ett flertal tjänster som är till<br>
                nytta för dig som hyresgäst.
            </p>

            <a class="register" href="/register"><i class="fas fa-chevron-right"></i> Registrera dig här</a>


            <div class="col-auto mt-3" id="accordionLogin">

                <EditForm Model="@loginModel" OnSubmit="OnSubmit">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                E-postadress & lösenord
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="gray-text mb-3">Logga in med e-postadress och lösenord.</p>
                                <div class="feld ">
                                    <InputText type="email" class="log form-control m-1" id="loginEmail" placeholder="E-postadress" @bind-Value="@loginModel.Email" />
                                    <InputText type="password" class="log form-control m-1" id="loginPassword" placeholder="Lösenord" @bind-Value="@loginModel.Password" />
                                </div>
                                @if (Status == "BadRequest")
                                {
                                    <div> Email Or Password Wrong</div>
                                }
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="login-btn mt-3">Logga in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </EditForm>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Mobilt BankID
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="gray-text mb-3">Logga in med Mobilt BankID.</p>
                            <input class="form-control" id="personId" placeholder="Personnummer">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="login-btn mt-3">Logga in</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Glömt lösenord
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="gray-text mb-3">Begär ett nytt lösenord via e-post till den adress som du tidigare angett.</p>
                            <input type="email" class="form-control me-2" id="forgotPassword" placeholder="E-postadress">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="login-btn mt-3">Skicka lösenord</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Column>
</Container>

    @code {
        private UserLoginModel loginModel { get; set; }
        public string Status { get; set; }

        protected override void OnInitialized()
        {
            loginModel = new UserLoginModel();
        }

        private async Task OnSubmit()
        {
            var response = await Http.PostAsJsonAsync<UserLoginModel>("https://localhost:44343/api/LoginRegister/Login", new UserLoginModel { Email = loginModel.Email, Password = loginModel.Password });
            Status = response.StatusCode.ToString();



            await sessionStorage.SetItemAsync<string>("Status", Status);
            if (Status == "OK")
            {
                var data = JsonConvert.DeserializeObject<dynamic>(await response.Content.ReadAsStringAsync());

                await sessionStorage.SetItemAsync<string>("AccessToken", data.accessToken.ToString());
                await sessionStorage.SetItemAsync<string>("UserId", data.id.ToString());

                NavManager.NavigateTo("/");
            }




        }



    }
