@page "/maintenance/rules"

<Auth />

<Container>
    <Column ColumnSize="ColumnSize.Is10.OnMobile.Is10.OnDesktop.Is10.OnTablet">
             


        <div class="mt-5">
            <h4 style="color:#005a87;">
                Vad räknas som underhåll vid en stamrenovering och vilka renoveringsåtgärder kan värden ta ut en hyreshöjning för?
            </h4>
            <p>
                Gränsen mellan underhåll och standardhöjningar är svår att dra. Det finns en del skrivet i lagförarbetena, men uppräkningen är inte uttömmande. Man anger som exempel på standardhöjningar: upprustning av kök och badrum, installation av bubbelbad, insättning av tvätt- eller diskmaskin, inglasning av balkonger, installation av centraldammsugare och bastu. Vissa underhållsåtgärder kan vara standardhöjande, till exempel utbyte av kylskåp till en helt annan och högre standardnivå. Upprustning i gemensamma utrymmen i eller utanför huset är andra exempel. ”Sedvanliga underhålls- och reparationsarbeten” är inte standardhöjande.
            </p>
            <h4 style="color:#005a87;">
                Är det rimligt att inte få renoverat på 30 år? Min säger att man måste bo två år innan renovering kan ske.
            </h4>
            <p>
                Lägenheter ska underhållas med ”skäliga tidsmellanrum” och det är skicket som avgör. Trettio år är lång tid. Min bedömning är att ni kan kräva underhåll. Ibland är underhållet periodiserat, det sker oftast efter 12 eller 15 år. Men flyttar du in i en väldigt risig lägenhet kan du ändå ha rätt att få målat och tapetserat. Det finns inga regler om att man måste ha bott en viss tid innan underhåll sker.

            </p>


            <h4 style="color:#005a87;">
                Har ett kök som är ­renoverat på 80-talet. ­Behöver få det renoverat. Har hyres­värden rätt att ta ut högre hyra om jag vill få detta gjort?

            </h4>
            <p>
                Om lägenhetens standard höjs vid ­renoveringen kan det bli fråga om en hyreshöjning, men inte om det bara är ­vanligt underhåll. Det innebär att hyran inte ska ­höjas för att köket bli ommålat eller omtapetserat, att golvmattan byts ut till en liknande med mera. Men om skåpen byts ut helt, om man lägger in ­parkett istället för golvmatta och kanske ­byter ut ­spisen till en induktionsspis så är det standard­höjningar som kan ge hyreshöjningar.

            </p>
            <h4 style="color:#005a87;">
                Ventilationen och taken på vår fastighet ska renoveras. Kan man få hyresnedsättning då jag (och katterna) inte kan nyttja balkongen under ca 14 veckor?

            </h4>

            <p>
                Vanligen har en hyresgäst inte rätt till hyresreduktion när hyresvärden ­genomför underhåll. Det gäller såväl underhåll i lägenheten som huset i övrigt. Det finns oftast en klausul i hyresavtalet som innebär att hyresgästen inte har rätt till hyresreduktion vid underhåll. Det finns emellertid undantag; om det är många olika arbeten som pågår samtidigt kan hyresgästen, trots klausulen, ha rätt till reduktion. Men det är tveksamt om det i ditt fall är fråga om tillräckligt omfattande åtgärder för att du skulle kunna kräva hyresreduktion.

            </p>
            <h4 style="color:#005a87;">
                Vår värd håller på att renovera huset . Det har varit ett konstant oljud sedan i maj. Jag har sagt till värden att vi borde få reducerad hyra, men han säger nej. Kan vi kräva det?

            </h4>
            <p>
                I de flesta hyresavtal finns en klausul som innebär att hyresgästen inte har rätt till hyresreduktion när underhållsarbete utförs. Men pågår flera olika arbeten samtidigt kan hyresgästen ändå ha rätt till hyresreduktion, det beror på arbetenas omfattning. Vad jag förstår störs ni även av en ombyggnad, vilket möjligen inte är underhåll och då kan du också ha rätt till reduktion. Kontakta Hyresgästföreningen!
            </p>
            <h4 style="color:#005a87;">
                Värden ska renovera och vill ha alla nycklar. Är vi skyldiga att lämna dem? Vi har tänkt vara hemma och öppna varje gång de kommer.

            </h4>
            <p>
                Du är inte skyldig att lämna ut nycklar till lägenheten, men du måste ge värden eller hans anställda möjlighet att få tillträde till lägenheten. Det vanligaste är att lämna ut nyckeln, det brukar vara det enklaste och smidigaste sättet att ge värden tillträde.

            </p>
            <h4 style="color:#005a87;">
                Vad har vi för rättigheter när det renoveras på byggnaden bredvid vår. Innergården är full av byggnadsställningar och det förs oväsen. Vår värd har inte meddelat detta och vi vet inte när det avslutas. Kan vi få hyressänkning?

            </h4>
            <p>
                En hyresgäst får stå ut med en del störningar, till exempel vid en ombyggnad, från grannfastigheter utan att ha rätt till hyresreduktion. Det ska då vara fråga om ”normala” störningar. Av praxis framgår att en hyresgäst haft rätt till ersättning, men då har det varit fråga om sådant som inte betecknas som vanligt förekommande vid en normal ombyggnad. I det fallet var det fråga om byggbodar som var placerade omedelbart utanför ett fönster under en längre tid.

            </p>
            <h4 style="color:#005a87;">
                Jag har ett korttidskontrakt och ­väntar på besked om när renovering ska ske. Går det att kräva en ny ­lägenhet på grund av renoveringen eller har man inte rättigheter på grund av att det är ett korttidskontrakt?
            </h4>
            <p>
                Jag utgår från att du har ett så kallat rivnings- och/eller ombyggnadskontrakt och att hyrestiden är bestämd, och på kort tid. Du skriver inget om om det finns ett avtal om avstående från besittningsskyddet eller ej, men vanligen har hyresvärd och hyresgäst avtalat bort besittningsskyddet om lägenheten ska byggas om eller rivas när det är fråga om korttidskontrakt. Det innebär att hyresgästen måste flytta om hyresvärden kan visa att det är aktuellt med en ombyggnad, t ex visa att bygglov finns, att man projekterat och upphandlat ombyggnaden. Om du har avtalat bort besittningsskyddet har du inte rätt till en ersättningslägenhet.
                Uppsägningstiden beror på hur lång hyrestid ni avtalat om i hyresavtalet. Kontakta Hyresgäsföreningen för att få reda på mer.
            </p>
            <h4 style="color:#005a87;">
                Min fasad renoveras. Det är oljud och ställningar kring ytterväggen och framför alla fönster. Kan hyran sänkas under tiden? Eller höjas efteråt?
            </h4>
            <p>
                Hyran ska inte höjas efter en fasadrenovering. Vanligen har hyresgästen inte rätt till hyresreduktion.
            </p>

            <h4 style="color:#005a87;">Har jag rätt till  vara möjligt att kunna använda rot-avdrag? </h4> <p>Nej, du har inte rätt till rot-avdrag.</p>    
        </div>
    </Column>
</Container>





@code {

}
