<Container>
    <div class="foot col-12">
        <div class="footer-section-1">
            <img class="footer-img" src="https://spg.se/wp-content/themes/spg-pfwd/lib/gfx/spg-logo-tagline.svg" alt="Scandinavian Property Group" />

        </div>

        <div class="footer-section-2 ">
            <div class="footer-text-information">

                <div class="footer-box-1 col-6">
                    <p>SPG Stockholm</p>
                    <p>Biblioteksgatan 8</p>
                    <p>11146 Stockholm</p>
                </div>

                <div class="footer-box-2 col-6">
                    <p>SPG Oslo</p>
                    <p>Filipstad Brygge 2</p>
                    <p>0252 Oslo</p>
                </div>
            
            </div>
        </div>

        <div class="footer-section-3">
            <div class="footer-copyright">
                <p>©2019 Scandinavian Property Group</p>
            </div>

        </div>
    </div>
</Container>

@code {

}
