@inherits LayoutComponentBase

<div class="page">
     <MainMenu />

    <div class="main">
        <TopBanner />

        <div class="content px-4">
            @Body
        </div>
    </div>
   
</div>
<div>
    <Footer />
</div>

