<div>
    <div class="navmenu-top d-flex align-items-center">
        <p class="title">Mina sidor</p>
    </div>
    <div style="overflow-x:auto;">
        <ul class="navmenu">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fas fa-house-user"></i> <span id="panel"> Startsida</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/laundry" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-tshirt"></i>  <span id="panel"> Boka tvättstuga</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/parking" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-parking gap"></i> <span id="panel"> Boka parkeringsplats</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/errorreport" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-bug gap"></i> <span id="panel"> Felanmälan</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/mycontracts" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-file-contract mr-3"></i> <span id="panel">  Mina avtal</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/mybills" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-dollar-sign gap"></i> <span id="panel"> Mina fakturor</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/maintenance" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-wrench gap"></i> <span id="panel"> Lägenhetsunderhåll</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/messageboard" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-bullhorn gap"></i> <span id="panel"> Annonstavlan</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/contact" Match="NavLinkMatch.Prefix">
                    <i class="fas fa-at  gap"></i> <span id="panel"> Kontakta oss</span>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

    @code {

    }
